*{
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
   border: 10px;

}
.navlogo {
    background-image: url(logo.png);
    width: 220px;
    height: 100px;
}
.adbar{
    background-color: black;
    width: 500px;
    height: 20px;
    position: relative;
    right: -500px;
    top: 50px

}
.iconbar {
    width: auto;
    background-color: red;
    height: 40px;
    text-align: center;
    justify-content: center;
    
    
}
.iconbar ul{
    display: flex;
    text-align: center;
    position: relative;
    top: -5px;
   
}

.iconbar ul li {
  
    list-style: none;
    padding: 20px;
    color: white;
}

.iconbar ul li a{
    text-decoration: none;
    justify-content: center ;
    color: white;
}

.iconbar ul li :hover{
    cursor: pointer;
}

.iconbar ul li :active{
    color: wheat;
}
/** main contentbody for laptops **/
.main-content{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    background-color: aliceblue;
    position: relative;
    bottom: -60px; 
}

.box {
    text-align: center;
    border: 2px solid black;
    height: 400px;
    width: 23%;
    overflow: hidden;
}
.box-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.opbar {
    height: 20px;
    justify-content: space-evenly;
    margin: 10px;
    text-align: center;
    background-color: antiquewhite;
    position: relative;
    top: 100px;
    padding: 10px;
}


